figure{
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: -3px;
}
figcaption{
	margin: 0;
	padding: 0;
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
	font-size: 14px;
}
.image-gallery{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	overflow: hidden;
	margin: 0 30px;
}
#image-1{
	width: 100%;
}
#image-2, #image-3{
	width: 50%;
}
@media screen and (max-width: 600px){
	#image-2, #image-3{
		width: 100%;
	}
}
